@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
	font-family: "EB Garamond", serif !important;
}

p,
.blockquote {
	font-family: "PT Sans", sans-serif !important;
}

html,
body,
#root {
	height: 100% !important;
}
.app {
	display: flex;
	flex-direction: column;
}
.container-fluid {
	flex: 1 0 auto !important;
}
.footer {
	flex-shrink: 0;
}
.main-heading {
	font-family: "Audiowide", cursive !important;
	color: yellow !important;
	font-size: 5.714vw !important;
}
.subHeading {
	font-family: "EB Garamond", serif !important;
	letter-spacing: 3px !important;
	font-size: 3vw !important;
}
.title,
.title-2,
.sub-title {
	font-family: "Open Sans", sans-serif !important;
	position: relative;
}
.title:before {
	content: "";
	position: absolute;
	width: 80%;
	height: 1px;
	background: goldenrod;
	top: 50%;
	left: 10%;
	z-index: -999999;
}
.title-2:before {
	content: "";
	position: absolute;
	width: 50%;
	height: 1px;
	background: goldenrod !important;
	bottom: -30%;
	left: 0%;
	z-index: -999999;
}
.title > text {
	background-color: white;
	word-spacing: 10px;
}
.title-2 > text {
	background-color: white;
	/* color: gray; */
}
.scroll-up-btn {
	opacity: 0;
	transition: opacity 5s ease-in-out;
}
.scroll-up-btn.active {
	opacity: 1 !important;
}
.slick-prev:before,
.slick-next:before {
	color: black !important;
}
.event-img {
	position: relative;
}
.event-img:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	/* background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 0) 12%,
		rgba(255, 255, 255, 1) 84%
	) !important; */
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 0) 20%,
		rgba(255, 255, 255, 1) 80%
	) !important;
	left: 0;
}
.hero-content {
	background: rgba(0, 0, 0, 0.8) !important;
	/* background: linear-gradient(
		90deg,
		rgba(65, 65, 65, 0.7),
		rgba(255, 252, 50, 0.7)
	) !important; */
}
.grid {
	--gap: 1em;
	--columns: 4;
	max-width: 90rem;
	margin: 1em auto;
	display: column;
	columns: var(--columns);
	gap: var(--gap);
}
@media (max-width: 540px) {
	.grid {
		--columns: 1;
	}
}
.grid > * {
	break-inside: avoid;
	margin-bottom: var(--gap);
}
@supports (grid-template-rows: masonary) {
	.grid {
		display: grid;
		grid-template-columns: repeat(var(--columns), 1fr);
		grid-template-rows: masonary;
		grid-auto-flow: dense;
	}
}

.grid {
	margin-bottom: 0em;
}
.grid > .last {
	grid-column: span 4;
}
.dropdown-item:hover {
	color: #6c757d !important;
}
.navbar-toggler-icon {
	color: white !important;
}
.list {
	list-style-type: none;
}
.list > li {
	margin-top: 2rem;
	position: relative;
}
.list > li::after {
	content: "*";
	position: absolute;
	width: 30%;
	/* height: 1px; */
	/* background: goldenrod !important; */
	color: goldenrod;
	bottom: -100%;
	left: 35%;
	z-index: -999999;
}
.list > li:last-child::after {
	content: "";
	position: absolute;
}
.page-footer {
	background-color: rgb(207, 207, 207) !important;
}
.text-gold {
	color: goldenrod !important;
}
.bg-gold {
	background-color: goldenrod !important;
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
